<div class="row">
  <div class="col-8">
    <div class="container">
      <div id="cartcontents" class="row row-cols-1">
        {% for product, quantity, price in mylist %}
          <div id= class="col p-2">
            <div class="row border-bottom pb-2">
              <div class="col-md-auto"><img src="{{product.thumbnail.url}}" id="product_thumbnail" alt="..."></div>
              <div class="col">
                <div class="row">
                  <p>{{product.name}} </span></p>
                </div>
                <div class="row">
                  <p>${{product.selling_price}}</p>
                </div>
              </div>
              <div class="col-md-auto pt-4 pb-4">
                <p> Quantity: {{quantity}} </p>
              </div>
              <div class="col-md-auto pt-4 pb-4">
                <p> Total: ${{price}} </p>
              </div>
              <div class="col-md-auto">
                {% include 'snippets/add_or_delete.html' %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="container">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row border-bottom">
        <div class="col-md-12 "> <h3 class="text-center">Checkout</h3></div>
      </div>
    
      <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
      <div class="row mt-4 mb-4 border-bottom">
        <div class="col-12"><p>Total Cost : ${{total_cost}}</p></div>
      </div>
    
      <!-- Columns are always 50% wide, on mobile and desktop -->
      <div class="row">
        <div class="col-6 "><a href="/" ><button  class="btn btn-success">Checkout</button></a></div>
        <div class="col-6"><a href="/" ><button  class="btn btn-success">Make Payment</button></a></div>
      </div>
    </div>
  </div>
</div>